/* PC、スマホ共通スタイル */
body {
  font-family: Noto Sans Japanese;
  background-color: #ffffff;
  color: #000000;
}

/*=====================
PC用のスタイル
=====================*/
body {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto 0 auto;
}

/* ヘッダー */
header {
  display: flex;
  justify-content: center;
}
/* ナビゲーションのレイアウト */
#nav-pc {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  padding-top: 15px;
}
#myprofile {
  border: solid;
  margin-right: 200px;
}

/* ナビゲーションのリンクの装飾設定 */
#nav-pc > a {
  text-decoration: none;
  margin-left: 20px;
}
#nav-pc > a:link {
  color: #000000;
}
#nav-pc > a:visited {
  color: #000000;
}
#nav-pc > a:hover {
  color: #000000;
}
#nav-pc > a:active {
  color: #000000;
}

/* メインビジュアル */
#main-visual > img {
  width: 100%;
  height: auto;
  margin-top: 15px;
}

/* 見出し */
h2 {
  font-size: 34px;
  text-align: center;
}

/* PC用レイアウト */
.about-style {
  display: flex;
  justify-content: center;
}
#about-photo {
  width: 141px;
  height: 142px;
  margin-top: 40px;
  border-radius: 400px;
}


h3 {
  font-size: 24px;
}
ul {
  font-size: 18px;
}
#works-flex {
  display: flex;
  justify-content: center;
  align-items: baseline
}
.photo {
  display: inline-block;
}
.photo > img {
  width: 179px;
  height: 134px;
  margin: 5px;
}
p {
  width: 179px;
  font-size: 18px;
}
footer {
  margin: 25px;
  text-align: center;
}




 


