/* PC、スマホ共通スタイル */
body {
  font-family: Noto Sans Japanese;
  background-color: #ffffff;
  color: #000000;
}

/*=====================
PC用のスタイル
=====================*/
  
body {
  width: 100%;
  height: auto;
  margin: 0 auto 0 auto;
}

/* ヘッダー */
header {
  display: flex;
  font-size: 34px;
  font-weight: bold;
  justify-content: space-between;
}
/* ナビゲーションのレイアウト */
#nav-pc {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  padding-top: 15px;
}
#myprofile {
  border: 1px solid #000000;
  color: #000000;
  text-decoration: none;
  padding: 5px;
  margin: 10px 0 0 0;
}

/* ナビゲーションのリンクの装飾設定 */
#nav-pc > a {
  text-decoration: none;
  margin-left: 20px;
}
#nav-pc > a:link {
  color: #000000;
}
#nav-pc > a:visited {
  color: #000000;
}
#nav-pc > a:hover {
  color: #000000;
}
#nav-pc > a:active {
  color: #000000;
}

/* メインビジュアル */
#main-visual > img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

/* 見出し */
h2 {
  font-size: 34px;
  text-align: center;
}

/* PC用レイアウト */

/* アバウト */
.about-style {
  display: flex;
  justify-content: center;
}
#about-photo {
  border-radius: 50%;
  width: 142px;
  height: 142px;
  margin: 25px 25px 0 0;
}
h3 {
  font-size: 24px;
}
ul {
  font-size: 18px;
}

/* ワーク */
#works-flex {
  display: flex;
  width: 100%;
  justify-content: center;
}
.photo {
display: inline-block;
width: min-content;
margin: 10px;
}




footer {
  margin: 25px;
  text-align: center;
}

/*======================
スマホ用スタイル
======================*/
@media screen and (max-width: 767px) {

body {
  width: 100%;
  height: auto;
  margin: 0 auto 0 auto;
}

/* ヘッダー */
header {
  display: block;
}
 #myprofile {
  display: inline-block;
  border: 1px solid #000000;
  margin: 10px 0 0 10px
}

/* アバウト */
.about-style {
  display: block;
  margin: auto;
}
#about-photo {
  display: block;
  margin: auto;
  width: 50%;
  height: auto; 
  justify-content: center;
}
.about-text {
  margin: 30px 25%;
}

/* ワーク */
#works-flex {
  display: block;
  width: 100%;
  height: auto;
}
.photo {
  display: block;
  margin: auto;
}
}






 


